<!-- Loader -->

        <div class="page-wrapper doctris-theme toggled">

            <!-- Start Page Content -->
            <main class="page-content bg-light">

                <div class="container-fluid">
                    <div class="layout-specing">
                        <div class="d-md-flex justify-content-between">
                            <h5 class="mb-0">Profil Patient</h5>

                            <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">

                                    <li class="breadcrumb-item active" aria-current="page"></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-md-5 mt-4">
                                <div class="bg-white rounded shadow overflow-hidden">
                                    <div class="card border-0">
                                        <img src="../assets/images/bg/bg-profile.jpg" class="img-fluid" alt="">
                                    </div>
        
                                    <div class="text-center avatar-profile margin-nagative mt-n5 position-relative pb-4 border-bottom">
                                        <img src="../assets/images/client/011.jpg" height="250px" width="250px"  alt="">
                                        <h5 class="mt-3 mb-1">Arij Youssef</h5>
                                        <p class="text-muted mb-0">25ans</p>
                                    </div>
        
                                    <div class="list-unstyled p-4">
                                        <div class="progress-box mb-4">
                                            <h6 class="title">Compléter votre profil</h6>
                                            <div class="progress">
                                                <div class="progress-bar position-relative bg-primary" style="width:89%;">
                                                    <div class="progress-value d-block text-muted h6"> </div>
                                                </div>
                                            </div>
                                        </div><!--end process box-->
        
                                        <div class="d-flex align-items-center mt-2">
                                            <i class="uil uil-user align-text-bottom text-primary h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Sexe</h6>
                                            <p class="text-muted mb-0 ms-2">Femme</p>
                                        </div>
                                        
                                        <div class="d-flex align-items-center mt-2">
                                            <i class="uil uil-envelope align-text-bottom text-primary h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Date de Naissance</h6>
                                            <p class="text-muted mb-0 ms-2">19 Janvier 1995</p>
                                        </div>
                                        
                                        <div class="d-flex align-items-center mt-2">
                                            <i class="uil uil-book-open align-text-bottom text-primary h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Num Téléphone</h6>
                                            <p class="text-muted mb-0 ms-2">+(216) 54120***</p>
                                        </div>
                                        
                                        <div class="d-flex align-items-center mt-2">
                                            <i class="uil uil-italic align-text-bottom text-primary h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Adresse</h6>
                                            <p class="text-muted mb-0 ms-2">Rue ***************</p>
                                        </div>
                                        
                                        <div class="d-flex align-items-center mt-2">
                                            <i class="uil uil-medical-drip align-text-bottom text-primary h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Num CNSS</h6>
                                            <p class="text-muted mb-0 ms-2">1****</p>
                                        </div>

                                        <div class="d-flex align-items-center mt-2">
                                            <i class="uil uil-italic align-text-bottom text-primary h5 mb-0 me-2"></i>
                                            <h6 class="mb-0">Email</h6>
                                            <p class="text-muted mb-0 ms-2">exemple@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="col-lg-5 col-md-7 mt-4">
                                <div class="card border-0 shadow overflow-hidden">
                                    <ul class="nav nav-pills nav-justified flex-column flex-sm-row rounded-0 shadow overflow-hidden bg-white mb-0" id="pills-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link rounded-0 active" id="overview-tab" data-bs-toggle="pill" href="#pills-overview" role="tab" aria-controls="pills-overview" aria-selected="false">
                                                <div class="text-center pt-1 pb-1">
                                                    <h4 class="title fw-normal mb-0">Profil</h4>
                                                </div>
                                            </a><!--end nav link-->
                                        </li><!--end nav item-->
                                        
                                        <li class="nav-item">
                                            <a class="nav-link rounded-0" id="experience-tab" data-bs-toggle="pill" href="#pills-experience" role="tab" aria-controls="pills-experience" aria-selected="false">
                                                <div class="text-center pt-1 pb-1">
                                                    <h4 class="title fw-normal mb-0">Modifier Profil</h4>
                                                </div>
                                            </a><!--end nav link-->
                                        </li><!--end nav item-->
                                    </ul>
        
                                    <div class="tab-content p-4" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="overview-tab">
                                            <h5 class="mb-0">Introduction:</h5>
        
                                            <p class="text-muted mt-4 mb-0">Web designers to occupy the space which will later be filled with 'real' content. This is required when, for example, the final text is not yet available. Dummy text is also known as 'fill text'. Dummy texts have been in use by typesetters since the 16th century.</p>
                                        
                                            <div class="row">
                
                                                    <div class="col-lg-6 col-12 mt-4">
                                                        <h5>Liste des Rendez-vous</h5>
                        
                                                        <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                            <i class="ri-heart-pulse-line h3 fw-normal text-primary mb-0"></i>
                                                            <div class="flex-1 overflow-hidden ms-2">
                                                                <h6 class="mb-0">Cardiogram</h6>
                                                                <p class="text-muted mb-0 text-truncate small">Dr. Calvin Carlo</p>
                                                            </div>
                                                            <span class="mb-0">10 Dec</span>
                                                        </div>
                
                                                        <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                            <i class="ri-stethoscope-line h3 fw-normal text-success mb-0"></i>
                                                            <div class="flex-1 overflow-hidden ms-2">
                                                                <h6 class="mb-0">Checkup</h6>
                                                                <p class="text-muted mb-0 text-truncate small">Dr. Cristino Murphy</p>
                                                            </div>
                                                            <span class="mb-0">12 Dec</span>
                                                        </div>
                
                                                        <div class="d-flex justify-content-between align-items-center rounded p-3 shadow mt-3">
                                                            <i class="ri-virus-line h3 fw-normal text-warning mb-0"></i>
                                                            <div class="flex-1 overflow-hidden ms-2">
                                                                <h6 class="mb-0">Covid Test</h6>
                                                                <p class="text-muted mb-0 text-truncate small">Dr. Alia Reddy</p>
                                                            </div>
                                                            <span class="mb-0">13 Dec</span>
                                                        </div>
      
                                                </div>
                                            </div>
  
                                        </div>
        
                                        <div class="tab-pane fade" id="pills-experience" role="tabpanel" aria-labelledby="experience-tab">
                                            <h5 class="mb-0">Informations Personnelles :</h5>
                                            <div class="row align-items-center mt-4">
                                                <div class="col-lg-2 col-md-4">
                                                    <img src="../assets/images/client/011.jpg" height="110px" width="110px" border-radius="50%" alt="">
                                                </div><!--end col-->
            
                
            
                                                <div class="col-lg-5 col-md-12 text-lg-right text-center mt-4 mt-lg-0">
                                                    <a href="#" class="btn btn-primary">Télécharger</a>
                                                    <a href="#" class="btn btn-soft-primary ms-2">Supprimer</a>
                                                </div><!--end col-->
                                            </div><!--end row-->
                
                                            <form class="mt-4">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label class="form-label">Nom</label>
                                                            <input name="name" id="name" type="text" class="form-control" placeholder=" ">
                                                        </div>
                                                    </div><!--end col-->
            
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label class="form-label">Prénom</label>
                                                            <input name="name" id="name2" type="text" class="form-control" placeholder=" ">
                                                        </div>
                                                    </div><!--end col-->
            
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label class="form-label"> Email</label>
                                                            <input name="email" id="email" type="email" class="form-control" placeholder=" ">
                                                        </div> 
                                                    </div><!--end col-->
            
                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label class="form-label">Num Téléphone</label>
                                                            <input name="number" id="number" type="text" class="form-control" placeholder=" ">
                                                        </div>                                                                               
                                                    </div><!--end col-->

                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label class="form-label">Adresse</label>
                                                            <input name="adresse" id="adr" type="text" class="form-control" placeholder=" ">
                                                        </div>                                                                               
                                                    </div><!--end col-->

                                                    <div class="col-lg-6">
                                                        <div class="mb-3">
                                                            <label class="form-label">Num CNSS</label>
                                                            <input name="number" id="number" type="text" class="form-control" placeholder=" ">
                                                        </div>                                                                               
                                                    </div><!--end col-->
            
                                        
                                                </div><!--end row-->
                                                
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <input type="submit" id="submit" name="send" class="btn btn-primary" value="Enregistrer Modifications">
                                                    </div><!--end col-->
                                                </div><!--end row-->
                                            </form><!--end form-->
        
                                            <div class="mt-4 pt-2">
                                                <h5 class="mb-0">Changer Mot de passe :</h5>
                
                                                <form class="mt-4">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">Ancien MDP :</label>
                                                                <input type="password" class="form-control" placeholder=" " required="">
                                                            </div>
                                                        </div><!--end col-->
                    
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">Nouveau MDP :</label>
                                                                <input type="password" class="form-control" placeholder="New password" required="">
                                                            </div>
                                                        </div><!--end col-->
                    
                                                        <div class="col-lg-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">Retaper Nouveau MDP :</label>
                                                                <input type="password" class="form-control" placeholder="Re-type New password" required="">
                                                            </div>
                                                        </div><!--end col-->
                    
                                                        <div class="col-lg-12 mt-2 mb-0">
                                                            <button class="btn btn-primary">Enregistrer MDP</button>
                                                        </div><!--end col-->
                                                    </div><!--end row-->
                                                </form>
                                            </div>
  
                                            <div class="mt-4 pt-2">
                                                <h5 class="mb-0 text-danger">Supprimer Compte :</h5>
                
                                                <p class="mb-0 mt-4">Voulez-vous Vraiment Supprimer Compte? SVP cliquer "Supprimer Compte </p>
                                                <div class="mt-4">
                                                    <button class="btn btn-danger">Supprimer Compte</button>
                                                </div><!--end col-->
                                            </div>
                                        </div>
                                    </div>                     
                                </div>
                            </div><!--end col-->  
                        </div><!--end row-->
                    </div>
                    
                </div><!--end container-->

                
            </main>
            
            <!--End page-content" -->
        </div>
      <!-- Add New Appointment Start -->
     
            <div class="modal-content">
                <div class="modal-header border-bottom p-3">
                    <h5 class="mb-0 text-danger" id="exampleModalLabel">Créer un Rendez-Vous</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3 pt-4">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Nom du Patient <span class="text-danger">*</span></label>
                                    <input name="name" id="name" type="text" class="form-control" placeholder=" ">
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Departements</label>
                                    <select class="form-control department-name select2input">
                                        <option value="EY">Eye Care</option>
                                        <option value="GY">Gynecologist</option>
                                        <option value="PS">Psychotherapist</option>
                                        <option value="OR">Orthopedic</option>
                                        <option value="DE">Dentist</option>
                                        <option value="GA">Gastrologist</option>
                                        <option value="UR">Urologist</option>
                                        <option value="NE">Neurologist</option>
                                    </select>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Docteur</label>
                                    <select class="form-control doctor-name select2input">
                                        <option value="CA">Dr. Calvin Carlo</option>
                                        <option value="CR">Dr. Cristino Murphy</option>
                                        <option value="AL">Dr. Alia Reddy</option>
                                        <option value="TO">Dr. Toni Kovar</option>
                                        <option value="JE">Dr. Jessica McFarlane</option>
                                        <option value="EL">Dr. Elsie Sherman</option>
                                        <option value="BE">Dr. Bertha Magers</option>
                                        <option value="LO">Dr. Louis Batey</option>
                                    </select>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">E-mail <span class="text-danger">*</span></label>
                                    <input name="email" id="email" type="email" class="form-control" placeholder=" ">
                                </div> 
                            </div><!--end col-->

                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Num Téléphone <span class="text-danger">*</span></label>
                                    <input name="phone" id="phone" type="tel" class="form-control" placeholder=" ">
                                </div> 
                            </div><!--end col-->

                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label"> Date : </label>
                                    <input name="date" type="text" class="flatpickr flatpickr-input form-control" id="checkin-date">
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-4 col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="input-time">Horaire : </label>
                                    <input name="time" type="text" class="form-control timepicker" id="input-time" placeholder="03:30 PM">
                                </div> 
                            </div><!--end col-->

                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <label class="form-label">Commentaire <span class="text-danger">*</span></label>
                                    <textarea name="comments" id="comments" rows="4" class="form-control" placeholder=" "></textarea>
                                </div>
                            </div><!--end col-->

                            <div class="col-lg-12">
                                <div class="mt-4">
                                    <button type="submit"  class="btn btn-danger">Enregistrer Rendez-Vous</button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </form>
                </div>
            </div>
        
    <!-- Add New Appointment End -->

       
      